
<h1> Current Day</h1>
<p>поговорим о времени</p>

<div id="clienttime"></div>

<%= javascript_pack_tag 'clienttime' %>


<p> что у нас на сервере? Узнай время:</p>

<div id="datetime" ></div>

<div id="root"></div>

<%= javascript_pack_tag 'timeview' %>


<%= javascript_pack_tag 'testjson' %>
